<div id="popup" ng-if="isFormVisible">
  <button type="button" ng-click="hideForm()">X</button>
  <user-form user="user"></user-form>
  <button type="button" ng-click="onUserCreate()">Create</button>
</div>

<button ng-click="showForm();">Create User</button>
<table>
  <thead>
  <tr>
    <th ng-repeat="column in columns">
      {{column | uppercase}}
    </th>
  </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in users track by $index" ng-click="viewDetails(user.username)">
      <td>{{user.username}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.type}}</td>
    </tr>
  </tbody>
</table>
