<div id="popup" ng-if="isFormVisible">
  <div class="text-right">
    <h3>Create new user</h3>
    <button type="button" class="btn btn__close" ng-click="hideForm()">x</button>
  </div>

  <user-form user="user"></user-form>
  <div class="text-center">
    <button type="button" class="btn btn--primary"  ng-click="onUserCreate()">Create</button>
  </div>
</div>

<section class="action-panel text-right">
  <button class="btn btn--primary" ng-click="showForm();">Create User</button>
</section>
<section class="content">
  <table class="user-list" >
    <thead>
    <tr>
      <th ng-repeat="column in columns">
        {{column | uppercase}}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in users track by $index" ng-click="viewDetails(user.username)">
      <td>{{user.username}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.type}}</td>
    </tr>
    </tbody>
  </table>
</section>

