:root {
  --body-color: #EFF0F8;
  --primary-text-color: #3F4254;
  --heading-text-color: #A4A4B5;
  --main-btn-color: #2F8FF0;
  --secondary-btn-color: #F54582;
  --white-color: #FFFFFF;
  --primary-bg-color: #F4F5F8;

  --error-color: #EF7DA0;
  --success-color: #66BB6A;

  --space-md: 20px;
  --space-lg: 50px;

  --border-radius: 5px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--body-color);
  font-family: Arial, 'sans-serif';
  font-size: 12px;
  padding-top: var(--space-lg);
  color: var(--primary-text-color);
}

.btn {
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
  color: var(--white-color);
  outline: none;
  border: none;
  cursor: pointer;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);

  &--primary {
    background-color: var(--main-btn-color);
  }

  &--secondary {
    background-color: var(--secondary-btn-color);
  }

  &:disabled {
    background-color: var(--heading-text-color);
    pointer-events: none;

  }

  &__close {
    color: var(--primary-text-color);
    font-size: 22px;
    box-shadow: none;
    background: transparent;
    opacity: 0.5;
    padding: 0;
  }
}

.user-list {
  width: 100%;

  td {
    padding: 1rem;
    background-color: var(--primary-bg-color);
  }
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.title {
  font-size: 16px;
}
.action-panel {
  margin-bottom: 15px;
  position: absolute;
  right: 0;
  top: -45px;
}

.main-content {
  background-color: var(--white-color);
  padding-bottom: var(--space-lg);
  position: relative;
  margin-top: var(--space-lg);
}

.user-list {
  border-collapse: collapse;

  th {
    text-align: left;
    color: var(--heading-text-color);
  }

  th, td {
    padding: 15px var(--space-md);
    border-bottom: 2px solid var(--white-color);
  }
  
  td {
    cursor: pointer;
  }
}

//forms
input, select {
  width: 100%;
  border: none;
  height: 40px;
  border-radius: var(--border-radius);
  background-color: var(--primary-bg-color);
  margin-bottom: 10px;
  padding: 5px 10px;
}

input.ng-invalid.ng-touched {
  border: 1px solid var(--error-color);
}

.card {
  background: var(--white-color);
  padding: var(--space-md);
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius);
}

.user-details-page {
  padding: var(--space-md);
}

.page-container {
  display: flex;
  flex-direction: column;

  aside {
    margin-bottom: 30px;
  }
  @media (min-width: 1024px) {
    flex-direction: row;

    aside {
      order: 2;
      flex-basis: auto;
      margin: var(--space-lg) 0 0 var(--space-md);

      > div {
        width: 400px;
      }
    }
    main {
      order: 1;
      flex-grow: 1;
    }
  }
}

.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.error-message {
  color: var(--error-color);
}
